<section>
    <div class="container">
        <div class="categorys">

            <div class="card" routerLink="/categorys">
                <h2>Category</h2>
                <p>Manage Your Category Details Here</p>
                <i class="fa-solid fa-clipboard-list"></i>
            </div>

        </div>

        <div class="categorys">

            <div class="card" routerLink="/posts">
                <h2>Category Posts</h2>
                <p>Manage Your Category Posts Details Here</p>
                <i class="fa-solid fa-car"></i>
            </div>

        </div>

       

        

    </div>
</section>

