
section .container{
   display: flex;
   align-items: center;
   justify-content: center;
    gap: 5rem;
}

section .container .categorys{
    display: flex;
}

section .container .categorys .card{
    background: rgb(32, 32, 32);
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;
    color: white;
    box-shadow: 0 0 2rem gray;
    transition: 300ms ease;
    cursor:pointer;
}

section .container .categorys .card:hover{
    transform: scale(1.1);
}

section .container .categorys .card i{
    margin-top: 2rem;
    font-size: 5rem;
}


@media screen and (max-width: 1100px) {
    section .container{
       flex-direction: column;
     }
     
}